.form{
    width: 400px;
    height: 385px;
    outline: 4px solid black;
    background: dimgray;
    display: inline-block;
    text-align: center;
}
.verx{
    margin-top:30px;
    width:300px;
    height: 90px;
background-color: rgb(92, 87, 87);
border-radius: 25px 25px 25px 25px;
margin: auto;
margin-top: 30px;

}
.kont{
    text-align: center;
    color: white;
    font-size: 17px;
    padding:25px;
}
.form-input{
    background-color: rgb(92, 87, 87);
    width: 300px;
    height: 50px;
    border-radius: 25px 25px 25px 25px;
    margin-top: 10px;
    text-align: center;
    font-size: 17px;
    
} 
.form-input2{
    background-color: rgb(92, 87, 87);
    width: 300px;
    height: 50px;
    border-radius: 25px 25px 25px 25px;
    margin-top: 10px;
    text-align: center;
    font-size: 17px;
} 
.form-button{
    background-color:rgb(42, 42, 185);
    width: 300px;
    height: 50px;
    border-radius: 25px 25px 25px 25px;
    margin-top: 20px;
 
}
.tel{
    position: absolute;
    margin-top: 12px;
}
.chel{
    position: absolute;
    margin-top: 12px;
    
}